[submodule "mps"]
	path = mps
	url = ../mps.git
[submodule "SoundLib/vorbis"]
	path = SoundLib/vorbis
	url = ../sound/vorbis.git
[submodule "SoundLib/ogg"]
	path = SoundLib/ogg
	url = ../sound/ogg.git
[submodule "SoundLib/flac"]
	path = SoundLib/flac
	url = ../sound/flac.git
[submodule "root/test/server-tests"]
	path = root/test/server-tests
	url = ../storm-server-tests.git
[submodule "Linux/backtrace"]
	path = Linux/backtrace
	url = ../linux/backtrace.git
[submodule "Linux/cairo"]
	path = Linux/cairo
	url = ../linux/cairo.git
